.left_side
  %h3.margin_b_0
    Поиск
    %form.form.form-vertical
      .form-line
        .fl75
          %input{:type => 'text', :value => "", :placeholder => 'Имя', :name => ''}
        .fl25
          %button.btn.btn-transparent.full-width.btn-big  Найти
  .clear
  .list.margin_b_25
    .line
      .search_list
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
    .line
      .search_list
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
    .line
      .search_list
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '100', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
    .line
      .search_list
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
    .line
      .search_list
        .center
          .name
            СТАТЬИ
          .det
            %a{:href => 'javascript:;', :title => ''}
              Как сохранить отношения надолго
          .text
            Важнее всего находить в повседневной жизни возможности вместе создавать прекрасные моменты. Очень важно принять обязательство о том, что ни одна проблема не сможет заслонить собой вашу преданность.
    .line
      .search_list
        .center
          .name
            СТАТЬИ
          .det
            %a{:href => 'javascript:;', :title => ''}
              Как сохранить отношения надолго
          .text
            Важнее всего находить в повседневной жизни возможности вместе создавать прекрасные моменты. Очень важно принять обязательство о том, что ни одна проблема не сможет заслонить собой вашу преданность.
  .clear
  .pagination
    %a.btn-ellips.btn-ellips-left.pull-left{:href => "#", :title => ""}
      %span
    %a.btn-ellips.btn-ellips-link.curent{:href => "", :title => ""}
      %span
        1
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        2
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        3
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        8
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        \. . .
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        25
    %a.btn-ellips.btn-ellips-right.pull-right{:href => "#", :title => ""}
      %span
.right_side
  =render 'public_right_banner_column'