.left_side

  %h3.margin_b_0
    Покупка
    %a.text{:href => 'javascript:;', :title => ''}
      Распечатать

  .list.margin_b_20
    .line
      .history
        .center.margin_b_20
          %p
            Видео – Каббала по пятницам –
            %br
            (1) Суть духовной работы 4.11
        .right.margin_b_20
          %p
            19 600 р.
          %p
            5 Уроков
        .clear
        .center
          %p
            Видео – Каббала по пятницам –
            %br
            (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
  %form.form.margin_b_20
    .form-line
      .fl50
      .fl50.fl-text-18.fl-text-bold
        Всего на 13 450 р.
  %h3.margin_b_20
    Данные
  %form.form.margin_b_55
    .form-line
      .fl50.fl-text-14
        Александр Дмитриевич
      .fl25.fl-text-14
        rector@sitc.ru
      .fl25.fl-text-14
        +7 901 536 00 57
    .form-line
      .fl25.fl-text-14
        632 256
      .fl25.fl-text-14
        Санкт-Петербург
      .fl25.fl-text-14
        ул. Пречистенка
      .fl25.fl-text-14
        дом 8, кв 19
    .form-line
      .fl25.fl-text-14
        Карта Master Card
      .fl25.fl-text-14
        4568 8965 8547 7569
      .fl25.fl-text-14
        Alexander Dmitrievich
      .fl25.fl-text-14
        04 / 13
  .form.margin_b_60.btn-list-right
    .form-line
      %a.btn.btn-blue.btn-big.pull-right{:href => '/shopping/success', :title => ''}
        Купить
      %a.btn.btn-big.btn-transparent.pull-right{:href => '/shopping/information', :title => ''}
        %i.icon-text
          <
        Назад