.left_side
  %h3.margin_b_0
    Моя корзина
    %a{:href => 'javascript:;', :title => ''}
      Удалить отмеченные
  .clear
  .list.margin_b_25
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '100', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '50', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
    .line
      .history.shoping
        .left
          %img{:src => '/assets/demo/nigth.jpg', :width => '161', :height => '98', :alt => '' }
        .center
          %p
            АУДИО
          %p
            %a{:href => 'javascript:;', :title => ''}
              Каббала по пятницам – (1) Суть духовной работы 4.11
        .right
          %p
            19 600 р.
          %p
            5 Уроков
        .checkbox
  .shopping-tottal.margin_b_40
    .left
      %p
        Оплата производится банковской картой Visa или Mastercard через сайт.
    .right
      %p
        Итого:
        %b
          13 500 p.
  .form.margin_b_60.btn-list-right
    .form-line
      %a.btn.btn-blue.btn-big.pull-right{:href => '/shopping/information', :title => ''}
        Оформить заказ
.right_side
  =render 'profile_right_menu'
