.big-slider
  .big-slider-view
    %a{:href=>'', :title=>''}
      %img{:src => '/assets/demo/paper.jpg', :width => '980', :height => '307', :alt => '' }


.left_side
  %h2
    Аудио, Видео Курсы
  %p.p-big
    Дорогие друзья! Обращаем Ваше внимание, что мы осуществляем доставку в регионы России только тех заказов, итоговая сумма которых превышает 3000 р. (см. раздел Доставка и Оплата). Доставку по г. Москве и Московской области не осуществляется. Вы можете забрать Ваш заказ самостоятельно из Каббала Центра по адресу г. Москва, ул. Мясницкая, д.13, стр.11! По всем вопросам звоните +7 (495) 504 10 12
  %h3.margin_b_30
    Видео семинары
  %ul.ul-box-list-three
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
      %li.clear
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.clear
      %li.page_else_load
        %img{:src => '/assets/preloader.jpg', :width => '19', :height => '16', :alt => '' }
        %a{:href =>'#', :title => '' }
          Загрузить еще видео
  %h3.margin_b_30
    Мои аудио
  %ul.ul-box-list-four
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li
      %div
        .img
          %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          %a{:href => '#', :title => ''}
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить

      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.clear
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li
        %div
          .img
            %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            %a{:href => '#', :title => ''}
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
        %li.clear
        %li
          %div
            .img
              %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
            %h4
              %a{:href => '#', :title => ''}
                Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
            %p
              По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
            .link_line
              %a{:href => 'javascript:;', :title => ''}
                Подробнее
              %span
                |
              %a{:href => 'javascript:;', :title => ''}
                В корзину
            .tottal
              19 600 р.
            .lesson_count
              5 Уроков
            %div
              %a.btn{:href => 'javascript:;', :title => ''}
                Купить
        %li
          %div
            .img
              %img{:src => '/assets/tree_img.jpg', :width => '980', :height => '307', :alt => '' }
            %h4
              %a{:href => '#', :title => ''}
                Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
            %p
              По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
            .link_line
              %a{:href => 'javascript:;', :title => ''}
                Подробнее
              %span
                |
              %a{:href => 'javascript:;', :title => ''}
                В корзину
            .tottal
              19 600 р.
            .lesson_count
              5 Уроков
            %div
              %a.btn{:href => 'javascript:;', :title => ''}
                Купить
        %li.clear
        %li.page_else_load
          %img{:src => '/assets/preloader.jpg', :width => '19', :height => '16', :alt => '' }
          %a{:href =>'#', :title => '' }
            Загрузить еще аудио
.right_side
  =render 'public_right_banner_column'
