.full_side
  .clear
  %h1
    %center
      Поздравляем, ваша покупка успешно оформлена.
  %h2
    %center
      Вы можете купить еще интересных курсов.
  %p
    %center
      %a.hovered{:href => '/', :title => ''}
        Перейти в магазин.
