:javascript
  var eventsJson={
    "20130522": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 6<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kurs-sila-kabbalyi,-sreda,-17-aprelya-2013,-20:45.html\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 1<\/a>"
        ],
        "data": [
            {
                "id": "34",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 6",
                "url": null,
                "dateStart": 1369236600,
                "dateEnd": false
            },
            {
                "id": "35",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1369237500,
                "dateEnd": false
            },
            {
                "id": "32",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 1",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kurs-sila-kabbalyi,-sreda,-17-aprelya-2013,-20:45.html",
                "dateStart": 1369241100,
                "dateEnd": false
            }
        ]
    },
    "20130523": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 9<\/a>"
        ],
        "data": [
            {
                "id": "36",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 9",
                "url": null,
                "dateStart": 1369327500,
                "dateEnd": false
            }
        ]
    },
    "20130524": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/rukopisi-rava-ashlaga-06-26.04.2013.html\">\u0420\u0443\u043a\u043e\u043f\u0438\u0441\u0438 \u0420\u0430\u0432\u0430 \u0410\u0448\u043b\u0430\u0433\u0430<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "37",
                "name": "\u0420\u0443\u043a\u043e\u043f\u0438\u0441\u0438 \u0420\u0430\u0432\u0430 \u0410\u0448\u043b\u0430\u0433\u0430",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/rukopisi-rava-ashlaga-06-26.04.2013.html",
                "dateStart": 1369409400,
                "dateEnd": false
            },
            {
                "id": "38",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1369413000,
                "dateEnd": false
            }
        ]
    },
    "20130525": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0411\u042d\u0425\u0410\u0410\u041b\u041e\u0422\u0425\u0410<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "39",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1369465200,
                "dateEnd": false
            },
            {
                "id": "40",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0411\u042d\u0425\u0410\u0410\u041b\u041e\u0422\u0425\u0410",
                "url": null,
                "dateStart": 1369467000,
                "dateEnd": false
            },
            {
                "id": "41",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1369472400,
                "dateEnd": false
            }
        ]
    },
    "20130527": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 6<\/a>"
        ],
        "data": [
            {
                "id": "43",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1369669500,
                "dateEnd": false
            },
            {
                "id": "42",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 6",
                "url": null,
                "dateStart": 1369673100,
                "dateEnd": false
            }
        ]
    },
    "20130528": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441<\/a>"
        ],
        "data": [
            {
                "id": "44",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1369755000,
                "dateEnd": false
            },
            {
                "id": "45",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1369758600,
                "dateEnd": false
            }
        ]
    },
    "20130529": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 7<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 2<\/a>"
        ],
        "data": [
            {
                "id": "46",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 7",
                "url": null,
                "dateStart": 1369841400,
                "dateEnd": false
            },
            {
                "id": "47",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1369842300,
                "dateEnd": false
            },
            {
                "id": "49",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 2",
                "url": null,
                "dateStart": 1369845900,
                "dateEnd": false
            }
        ]
    },
    "20130530": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 10<\/a>"
        ],
        "data": [
            {
                "id": "50",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 10",
                "url": null,
                "dateStart": 1369932300,
                "dateEnd": false
            }
        ]
    },
    "20130531": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u0411\u0435\u0441\u0441\u043c\u0435\u0440\u0442\u0438\u0435<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "51",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u0411\u0435\u0441\u0441\u043c\u0435\u0440\u0442\u0438\u0435",
                "url": null,
                "dateStart": 1370014200,
                "dateEnd": false
            },
            {
                "id": "52",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1370017800,
                "dateEnd": false
            }
        ]
    },
    "20130603": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 7<\/a>"
        ],
        "data": [
            {
                "id": "53",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1370274300,
                "dateEnd": false
            },
            {
                "id": "54",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 7",
                "url": null,
                "dateStart": 1370277900,
                "dateEnd": false
            }
        ]
    },
    "20130604": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0422\u0440\u0435\u043d\u0438\u043d\u0433 \u0432\u043e\u043b\u043e\u043d\u0442\u0435\u0440\u043e\u0432<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u041a\u041e\u0420\u0410\u0425<\/a>"
        ],
        "data": [
            {
                "id": "55",
                "name": "\u0422\u0440\u0435\u043d\u0438\u043d\u0433 \u0432\u043e\u043b\u043e\u043d\u0442\u0435\u0440\u043e\u0432",
                "url": null,
                "dateStart": 1370359800,
                "dateEnd": false
            },
            {
                "id": "56",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1370359800,
                "dateEnd": false
            },
            {
                "id": "57",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u041a\u041e\u0420\u0410\u0425",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1370363400,
                "dateEnd": false
            }
        ]
    },
    "20130605": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 8<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 1<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 3<\/a>"
        ],
        "data": [
            {
                "id": "58",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 8",
                "url": null,
                "dateStart": 1370446200,
                "dateEnd": false
            },
            {
                "id": "59",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1370447100,
                "dateEnd": false
            },
            {
                "id": "60",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 1",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html",
                "dateStart": 1370450700,
                "dateEnd": false
            },
            {
                "id": "61",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 3",
                "url": null,
                "dateStart": 1370450700,
                "dateEnd": false
            }
        ]
    },
    "20130606": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 11<\/a>"
        ],
        "data": [
            {
                "id": "172",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1370534400,
                "dateEnd": false
            },
            {
                "id": "62",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 11",
                "url": null,
                "dateStart": 1370537100,
                "dateEnd": false
            }
        ]
    },
    "20130607": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/meropritiya\/new-moon-cancer-2013.html\">\u041d\u043e\u0432\u044b\u0439 \u043c\u0435\u0441\u044f\u0446: \u0420\u0430\u043a<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "170",
                "name": "\u041d\u043e\u0432\u044b\u0439 \u043c\u0435\u0441\u044f\u0446: \u0420\u0430\u043a",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/meropritiya\/new-moon-cancer-2013.html",
                "dateStart": 1370617200,
                "dateEnd": false
            },
            {
                "id": "64",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1370622600,
                "dateEnd": false
            }
        ]
    },
    "20130608": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440, \u0433\u043b\u0430\u0432\u0430 \u041a\u041e\u0420\u0410\u0425<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "65",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1370671200,
                "dateEnd": false
            },
            {
                "id": "66",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440, \u0433\u043b\u0430\u0432\u0430 \u041a\u041e\u0420\u0410\u0425",
                "url": null,
                "dateStart": 1370674800,
                "dateEnd": false
            },
            {
                "id": "67",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1370682000,
                "dateEnd": false
            }
        ]
    },
    "20130610": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 8<\/a>"
        ],
        "data": [
            {
                "id": "69",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1370879100,
                "dateEnd": false
            },
            {
                "id": "68",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 8",
                "url": null,
                "dateStart": 1370882700,
                "dateEnd": false
            }
        ]
    },
    "20130611": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0425\u0423\u041a\u0410\u0422<\/a>"
        ],
        "data": [
            {
                "id": "70",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1370964600,
                "dateEnd": false
            },
            {
                "id": "71",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0425\u0423\u041a\u0410\u0422",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1370968200,
                "dateEnd": false
            }
        ]
    },
    "20130612": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 9<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 4<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 2<\/a>"
        ],
        "data": [
            {
                "id": "73",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 9",
                "url": null,
                "dateStart": 1371051000,
                "dateEnd": false
            },
            {
                "id": "72",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1371051900,
                "dateEnd": false
            },
            {
                "id": "74",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 4",
                "url": null,
                "dateStart": 1371055500,
                "dateEnd": false
            },
            {
                "id": "75",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 2",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html",
                "dateStart": 1371055500,
                "dateEnd": false
            }
        ]
    },
    "20130613": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 12<\/a>"
        ],
        "data": [
            {
                "id": "173",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1371139200,
                "dateEnd": false
            },
            {
                "id": "76",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 12",
                "url": null,
                "dateStart": 1371141900,
                "dateEnd": false
            }
        ]
    },
    "20130614": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/kabbala-po-pyatniczam-(32)-nasilie-i-podavlenie.-raspoznaj-i-preodolej.html\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u041d\u0430\u0441\u0438\u043b\u0438\u0435 \u0438 \u043f\u043e\u0434\u0430\u0432\u043b\u0435\u043d\u0438\u0435<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "77",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u041d\u0430\u0441\u0438\u043b\u0438\u0435 \u0438 \u043f\u043e\u0434\u0430\u0432\u043b\u0435\u043d\u0438\u0435",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/kabbala-po-pyatniczam-(32)-nasilie-i-podavlenie.-raspoznaj-i-preodolej.html",
                "dateStart": 1371223800,
                "dateEnd": false
            },
            {
                "id": "78",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1371227400,
                "dateEnd": false
            }
        ]
    },
    "20130615": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0425\u0423\u041a\u0410\u0422<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "79",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1371279600,
                "dateEnd": false
            },
            {
                "id": "80",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0425\u0423\u041a\u0410\u0422",
                "url": null,
                "dateStart": 1371283200,
                "dateEnd": false
            },
            {
                "id": "174",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1371286800,
                "dateEnd": false
            }
        ]
    },
    "20130617": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3. \u0443\u0440\u043e\u043a 9<\/a>"
        ],
        "data": [
            {
                "id": "81",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1371483900,
                "dateEnd": false
            },
            {
                "id": "82",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3. \u0443\u0440\u043e\u043a 9",
                "url": null,
                "dateStart": 1371487500,
                "dateEnd": false
            }
        ]
    },
    "20130618": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0411\u0410\u041b\u0410\u041a<\/a>"
        ],
        "data": [
            {
                "id": "83",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1371569400,
                "dateEnd": false
            },
            {
                "id": "84",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0411\u0410\u041b\u0410\u041a",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1371573000,
                "dateEnd": false
            }
        ]
    },
    "20130619": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 10<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 5<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 3<\/a>"
        ],
        "data": [
            {
                "id": "90",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 2, \u0443\u0440\u043e\u043a 10",
                "url": null,
                "dateStart": 1371655800,
                "dateEnd": false
            },
            {
                "id": "87",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1371656700,
                "dateEnd": false
            },
            {
                "id": "91",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 5",
                "url": null,
                "dateStart": 1371660300,
                "dateEnd": false
            },
            {
                "id": "92",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 3",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html",
                "dateStart": 1371660300,
                "dateEnd": false
            }
        ]
    },
    "20130620": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 13<\/a>"
        ],
        "data": [
            {
                "id": "175",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1371744000,
                "dateEnd": false
            },
            {
                "id": "93",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 13",
                "url": null,
                "dateStart": 1371746700,
                "dateEnd": false
            }
        ]
    },
    "20130621": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/rukopisi-rava-ashlaga-06-26.04.2013.html\">\u0420\u0443\u043a\u043e\u043f\u0438\u0441\u0438 \u0420\u0430\u0432\u0430 \u0410\u0448\u043b\u0430\u0433\u0430<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "94",
                "name": "\u0420\u0443\u043a\u043e\u043f\u0438\u0441\u0438 \u0420\u0430\u0432\u0430 \u0410\u0448\u043b\u0430\u0433\u0430",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/rukopisi-rava-ashlaga-06-26.04.2013.html",
                "dateStart": 1371828600,
                "dateEnd": false
            },
            {
                "id": "95",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1371832200,
                "dateEnd": false
            }
        ]
    },
    "20130622": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0411\u0410\u041b\u0410\u041a<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "96",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1371884400,
                "dateEnd": false
            },
            {
                "id": "97",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u0433\u043b\u0430\u0432\u0430 \u0411\u0410\u041b\u0410\u041a",
                "url": null,
                "dateStart": 1371888000,
                "dateEnd": false
            },
            {
                "id": "98",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1371891600,
                "dateEnd": false
            }
        ]
    },
    "20130624": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 1<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 10<\/a>"
        ],
        "data": [
            {
                "id": "88",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1372088700,
                "dateEnd": false
            },
            {
                "id": "99",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 1",
                "url": null,
                "dateStart": 1372092300,
                "dateEnd": false
            },
            {
                "id": "100",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 10",
                "url": null,
                "dateStart": 1372092300,
                "dateEnd": false
            }
        ]
    },
    "20130625": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u041f\u0418\u041d\u0425\u0410\u0421<\/a>"
        ],
        "data": [
            {
                "id": "85",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1372174200,
                "dateEnd": false
            },
            {
                "id": "86",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u041f\u0418\u041d\u0425\u0410\u0421",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1372177800,
                "dateEnd": false
            }
        ]
    },
    "20130626": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 1<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 6<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 4<\/a>"
        ],
        "data": [
            {
                "id": "101",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 1",
                "url": null,
                "dateStart": 1372260600,
                "dateEnd": false
            },
            {
                "id": "89",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1372261500,
                "dateEnd": false
            },
            {
                "id": "102",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 6",
                "url": null,
                "dateStart": 1372265100,
                "dateEnd": false
            },
            {
                "id": "171",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u0434\u043b\u044f \u0436\u0435\u043d\u0449\u0438\u043d, \u0443\u0440\u043e\u043a 4",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/kursui\/kabbala-dlya-zhenshhin-2013.html",
                "dateStart": 1372265100,
                "dateEnd": false
            }
        ]
    },
    "20130627": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 14<\/a>"
        ],
        "data": [
            {
                "id": "176",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1372348800,
                "dateEnd": false
            },
            {
                "id": "103",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 14",
                "url": null,
                "dateStart": 1372351500,
                "dateEnd": false
            }
        ]
    },
    "20130628": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u041c\u0435\u0434\u0438\u0442\u0430\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "104",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u041c\u0435\u0434\u0438\u0442\u0430\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1372433400,
                "dateEnd": false
            },
            {
                "id": "105",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1372437000,
                "dateEnd": false
            }
        ]
    },
    "20130629": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u041f\u0418\u041d\u0425\u0410\u0421<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "106",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1372489200,
                "dateEnd": false
            },
            {
                "id": "107",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b, \u041f\u0418\u041d\u0425\u0410\u0421",
                "url": null,
                "dateStart": 1372492800,
                "dateEnd": false
            },
            {
                "id": "108",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1372496400,
                "dateEnd": false
            }
        ]
    },
    "20130701": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 2<\/a>"
        ],
        "data": [
            {
                "id": "110",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1372693500,
                "dateEnd": false
            },
            {
                "id": "109",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 2",
                "url": null,
                "dateStart": 1372697100,
                "dateEnd": false
            }
        ]
    },
    "20130702": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0422\u0440\u0435\u043d\u0438\u043d\u0433 \u0432\u043e\u043b\u043e\u043d\u0442\u0435\u0440\u043e\u0432<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u041c\u0430\u0442\u043e\u0442 \u041c\u0410\u0421\u0415\u0419<\/a>"
        ],
        "data": [
            {
                "id": "119",
                "name": "\u0422\u0440\u0435\u043d\u0438\u043d\u0433 \u0432\u043e\u043b\u043e\u043d\u0442\u0435\u0440\u043e\u0432",
                "url": null,
                "dateStart": 1372779000,
                "dateEnd": false
            },
            {
                "id": "120",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1372779000,
                "dateEnd": false
            },
            {
                "id": "121",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u041c\u0430\u0442\u043e\u0442 \u041c\u0410\u0421\u0415\u0419",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1372782600,
                "dateEnd": false
            }
        ]
    },
    "20130703": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 2<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 7<\/a>"
        ],
        "data": [
            {
                "id": "128",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 2",
                "url": null,
                "dateStart": 1372865400,
                "dateEnd": false
            },
            {
                "id": "111",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1372866300,
                "dateEnd": false
            },
            {
                "id": "129",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 7",
                "url": null,
                "dateStart": 1372869900,
                "dateEnd": false
            }
        ]
    },
    "20130704": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 15<\/a>"
        ],
        "data": [
            {
                "id": "177",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1372953600,
                "dateEnd": false
            },
            {
                "id": "130",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 15",
                "url": null,
                "dateStart": 1372956300,
                "dateEnd": false
            }
        ]
    },
    "20130705": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u0421\u043d\u044b<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0419\u043e\u0441\u0435\u0444 \u0410\u0446\u0430\u0434\u0438\u043a<\/a>"
        ],
        "data": [
            {
                "id": "131",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: \u0421\u043d\u044b",
                "url": null,
                "dateStart": 1373038200,
                "dateEnd": false
            },
            {
                "id": "132",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1373041800,
                "dateEnd": false
            },
            {
                "id": "133",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0419\u043e\u0441\u0435\u0444 \u0410\u0446\u0430\u0434\u0438\u043a",
                "url": null,
                "dateStart": 1373049000,
                "dateEnd": false
            }
        ]
    },
    "20130706": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "134",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1373094000,
                "dateEnd": false
            },
            {
                "id": "135",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b",
                "url": null,
                "dateStart": 1373095800,
                "dateEnd": false
            },
            {
                "id": "136",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1373101200,
                "dateEnd": false
            }
        ]
    },
    "20130708": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041d\u043e\u0432\u044b\u0439 \u043c\u0435\u0441\u044f\u0446. \u041b\u0435\u0432<\/a>"
        ],
        "data": [
            {
                "id": "137",
                "name": "\u041d\u043e\u0432\u044b\u0439 \u043c\u0435\u0441\u044f\u0446. \u041b\u0435\u0432",
                "url": null,
                "dateStart": 1373299200,
                "dateEnd": false
            }
        ]
    },
    "20130709": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0414\u0412\u0410\u0420\u0418\u041c<\/a>"
        ],
        "data": [
            {
                "id": "122",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1373383800,
                "dateEnd": false
            },
            {
                "id": "123",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0414\u0412\u0410\u0420\u0418\u041c",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1373387400,
                "dateEnd": false
            }
        ]
    },
    "20130710": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 3<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 8<\/a>"
        ],
        "data": [
            {
                "id": "138",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 3",
                "url": null,
                "dateStart": 1373470200,
                "dateEnd": false
            },
            {
                "id": "112",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1373471100,
                "dateEnd": false
            },
            {
                "id": "139",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 8",
                "url": null,
                "dateStart": 1373474700,
                "dateEnd": false
            }
        ]
    },
    "20130711": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 16<\/a>"
        ],
        "data": [
            {
                "id": "178",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1373558400,
                "dateEnd": false
            },
            {
                "id": "140",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 16",
                "url": null,
                "dateStart": 1373561100,
                "dateEnd": false
            }
        ]
    },
    "20130712": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>",
            "<a href=\"\">\u0414\u0435\u043d\u044c \u043f\u0430\u043c\u044f\u0442\u0438 \u0410\u0440\u0438<\/a>"
        ],
        "data": [
            {
                "id": "141",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1373646600,
                "dateEnd": false
            },
            {
                "id": "142",
                "name": "\u0414\u0435\u043d\u044c \u043f\u0430\u043c\u044f\u0442\u0438 \u0410\u0440\u0438",
                "url": null,
                "dateStart": 1373652000,
                "dateEnd": false
            }
        ]
    },
    "20130713": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "143",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1373698800,
                "dateEnd": false
            },
            {
                "id": "144",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b",
                "url": null,
                "dateStart": 1373700600,
                "dateEnd": false
            },
            {
                "id": "145",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1373706000,
                "dateEnd": false
            }
        ]
    },
    "20130715": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 3<\/a>",
            "<a href=\"\">9 \u0410\u0432\u0430<\/a>"
        ],
        "data": [
            {
                "id": "113",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1373903100,
                "dateEnd": false
            },
            {
                "id": "146",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 3",
                "url": null,
                "dateStart": 1373906700,
                "dateEnd": false
            },
            {
                "id": "147",
                "name": "9 \u0410\u0432\u0430",
                "url": null,
                "dateStart": 1373911380,
                "dateEnd": false
            }
        ]
    },
    "20130716": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">9 \u0410\u0432\u0430<\/a>"
        ],
        "data": [
            {
                "id": "148",
                "name": "9 \u0410\u0432\u0430",
                "url": null,
                "dateStart": 1374003000,
                "dateEnd": false
            }
        ]
    },
    "20130717": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 4<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 9<\/a>"
        ],
        "data": [
            {
                "id": "149",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 4",
                "url": null,
                "dateStart": 1374075000,
                "dateEnd": false
            },
            {
                "id": "114",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1374075900,
                "dateEnd": false
            },
            {
                "id": "150",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 9",
                "url": null,
                "dateStart": 1374079500,
                "dateEnd": false
            }
        ]
    },
    "20130718": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 17<\/a>"
        ],
        "data": [
            {
                "id": "179",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1374163200,
                "dateEnd": false
            },
            {
                "id": "151",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 17",
                "url": null,
                "dateStart": 1374165900,
                "dateEnd": false
            }
        ]
    },
    "20130719": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: 12 \u044d\u0442\u0430\u043f\u043e\u0432 \u0432\u0435\u0447\u043d\u043e\u0439 \u043b\u044e\u0431\u0432\u0438, \u0447.2<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "152",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 \u043f\u043e \u043f\u044f\u0442\u043d\u0438\u0446\u0430\u043c: 12 \u044d\u0442\u0430\u043f\u043e\u0432 \u0432\u0435\u0447\u043d\u043e\u0439 \u043b\u044e\u0431\u0432\u0438, \u0447.2",
                "url": null,
                "dateStart": 1374247800,
                "dateEnd": false
            },
            {
                "id": "153",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1374251400,
                "dateEnd": false
            }
        ]
    },
    "20130720": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "154",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1374303600,
                "dateEnd": false
            },
            {
                "id": "155",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b",
                "url": null,
                "dateStart": 1374305400,
                "dateEnd": false
            },
            {
                "id": "156",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1374310800,
                "dateEnd": false
            }
        ]
    },
    "20130721": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0422\u0443 \u0411\u044d \u0410\u0432<\/a>"
        ],
        "data": [
            {
                "id": "157",
                "name": "\u0422\u0443 \u0411\u044d \u0410\u0432",
                "url": null,
                "dateStart": 1374350400,
                "dateEnd": false
            }
        ]
    },
    "20130722": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 4<\/a>"
        ],
        "data": [
            {
                "id": "115",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1374507900,
                "dateEnd": false
            },
            {
                "id": "158",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 4",
                "url": null,
                "dateStart": 1374511500,
                "dateEnd": false
            }
        ]
    },
    "20130723": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441, \u0433\u043b\u0430\u0432\u0430 \u042d\u041a\u0415\u0412<\/a>"
        ],
        "data": [
            {
                "id": "124",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1374593400,
                "dateEnd": false
            },
            {
                "id": "125",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441, \u0433\u043b\u0430\u0432\u0430 \u042d\u041a\u0415\u0412",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1374597000,
                "dateEnd": false
            }
        ]
    },
    "20130724": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 5<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 10<\/a>"
        ],
        "data": [
            {
                "id": "159",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 5",
                "url": null,
                "dateStart": 1374679800,
                "dateEnd": false
            },
            {
                "id": "116",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1374680700,
                "dateEnd": false
            },
            {
                "id": "160",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 10",
                "url": null,
                "dateStart": 1374684300,
                "dateEnd": false
            }
        ]
    },
    "20130725": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 18<\/a>"
        ],
        "data": [
            {
                "id": "180",
                "name": "\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0441\u043a\u043e\u0435 \u0422\u0430\u043d\u0433\u043e",
                "url": null,
                "dateStart": 1374768000,
                "dateEnd": false
            },
            {
                "id": "161",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 18",
                "url": null,
                "dateStart": 1374770700,
                "dateEnd": false
            }
        ]
    },
    "20130726": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "162",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 1-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1374856200,
                "dateEnd": false
            }
        ]
    },
    "20130727": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b<\/a>",
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430<\/a>"
        ],
        "data": [
            {
                "id": "163",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u041b\u0435\u043a\u0446\u0438\u044f",
                "url": null,
                "dateStart": 1374908400,
                "dateEnd": false
            },
            {
                "id": "164",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442: \u0427\u0442\u0435\u043d\u0438\u0435 \u0422\u043e\u0440\u044b",
                "url": null,
                "dateStart": 1374910200,
                "dateEnd": false
            },
            {
                "id": "165",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430\u0442 \u0428\u0430\u0431\u0431\u0430\u0442 2-\u044f \u0438 3-\u044f \u0442\u0440\u0430\u043f\u0435\u0437\u0430",
                "url": null,
                "dateStart": 1374915600,
                "dateEnd": false
            }
        ]
    },
    "20130729": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>",
            "<a href=\"\">\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 5<\/a>"
        ],
        "data": [
            {
                "id": "117",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1375112700,
                "dateEnd": false
            },
            {
                "id": "166",
                "name": "\u0421\u0438\u043b\u0430 \u041a\u0430\u0431\u0431\u0430\u043b\u044b, \u0443\u0440\u043e\u043a 5",
                "url": null,
                "dateStart": 1375116300,
                "dateEnd": false
            }
        ]
    },
    "20130730": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">10 \u0441\u0444\u0438\u0440\u043e\u0442<\/a>",
            "<a href=\"http:\/\/kabbalah.ru\/learning\/extend-learning\/\">\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0420\u042d\u042d<\/a>"
        ],
        "data": [
            {
                "id": "127",
                "name": "10 \u0441\u0444\u0438\u0440\u043e\u0442",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1375198200,
                "dateEnd": false
            },
            {
                "id": "126",
                "name": "\u0417\u043e\u0430\u0440 \u041a\u043b\u0430\u0441\u0441: \u0433\u043b\u0430\u0432\u0430 \u0420\u042d\u042d",
                "url": "http:\/\/kabbalah.ru\/learning\/extend-learning\/",
                "dateStart": 1375201800,
                "dateEnd": false
            }
        ]
    },
    "20130731": {
        "klass": "calendarEvent ceDefault",
        "tooltip": [
            "<a href=\"\">\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 6<\/a>",
            "<a href=\"http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html\">\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440<\/a>"
        ],
        "data": [
            {
                "id": "167",
                "name": "\u041a\u0430\u0431\u0431\u0430\u043b\u0430 3, \u0443\u0440\u043e\u043a 6",
                "url": null,
                "dateStart": 1375284600,
                "dateEnd": false
            },
            {
                "id": "118",
                "name": "\u0413\u043e\u0441\u0442\u0435\u0432\u043e\u0439 \u0432\u0435\u0447\u0435\u0440",
                "url": "http:\/\/www.kabbalahshop.ru\/adorning\/lekczii\/vvodnaya-lekcziya.html",
                "dateStart": 1375285500,
                "dateEnd": false
            }
        ]
    }
    };
.left_side
  %h2
    
  #calendarWrapper
    #eventsCalendar
.right_side
  =render 'public_right_banner_column'