.big-slider
  .big-slider-view
    %a{:href=>'', :title=>''}
      %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }

.left_side
  %h2
    Календарь событий
  %p.p-big
    Дорогие друзья! Обращаем Ваше внимание, что мы осуществляем доставку в регионы России только тех заказов, итоговая сумма которых превышает 3000 р. (см. раздел Доставка и Оплата). Доставку по г. Москве и Московской области не осуществляется. Вы можете забрать Ваш заказ самостоятельно из Каббала Центра по адресу г. Москва, ул. Мясницкая, д.13, стр.11! По всем вопросам звоните +7 (495) 504 10 12

  %ul.ul-box-list-one
    %li
      %a{:href=>"#", :title=>''}
        %span
          21 августа 2013
        %h4
          Каббала по пятницам, проактивная конфронтация
        %p
          Что, если бы существовала невидимая мудрость, открывающая духовные и физические законы мироздания? И, хотя она была скрыта на протяжении веков, эта мудрость приводит к источнику истинного счастья и наполнения. Название ей - Каббала. Хотите узнать больше?
          %br
          Лучше один раз...
    %li
      %a{:href=>"#", :title=>''}
        %span
          21 августа 2013
        %h4
          Каббала по пятницам, проактивная конфронтация
        %p
          Что, если бы существовала невидимая мудрость, открывающая духовные и физические законы мироздания? И, хотя она была скрыта на протяжении веков, эта мудрость приводит к источнику истинного счастья и наполнения. Название ей - Каббала. Хотите узнать больше?
          %br
          Лучше один раз...
    %li
      %a{:href=>"#", :title=>''}
        %span
          17 августа 2013
        %h4
          Сила Каббалы
        %p
          Каббалист Рав Йегуда Ашлаг, один из величайших духовных учителей ХХ века, оказал глобальное влияние на людей, изучающих каббалу. Среди множества его фундаментальных работ был и первый перевод Зоара с языка на иврит. Подобно революционеру Рав Ашлаг боролся с за...
      %a{:href=>"#", :title=>''}
        Записаться на мероприятие
    %li
      %a{:href=>"#", :title=>''}
        %span
          21 августа 2013
        %h4
          Шавуот (ужин + связь + завтрак)
        %p
          Праздник Шаувот – это возможность принести целостность во все сферы вашей жизни и во весь Мир. Большинство людей думают, что этот праздник связан с религией и с получением.
  .clear
  .pagination
    %a.btn-ellips.btn-ellips-left.pull-left{:href => "#", :title => ""}
      %span
    %a.btn-ellips.btn-ellips-link.curent{:href => "", :title => ""}
      %span
        1
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        2
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        3
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        8
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        \...
    %a.btn-ellips.btn-ellips-link{:href => "", :title => ""}
      %span
        25
    %a.btn-ellips.btn-ellips-right.pull-right{:href => "#", :title => ""}
      %span

  %h3
    Дополнительные статьи
  %ul.ul-box-list-three
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.

.right_side
  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/mobile_app.jpg', :alt => ''}
  %div
    %img{:src => '/assets/banner1.jpg', :alt => ''}
  .social-link
    %a.f{:href => '#', :title => ''}
    %a.t{:href => '#', :title => ''}
    %a.v{:href => '#', :title => ''}

  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/banner2.jpg', :alt => ''}