%ul.breadcrumb
  %li
    %a{:href => "/"}
      %i.icon-home
  - if @breads
    - @breads.each_with_index do |b, i|
      %li
        %span.divider /
        - if b[1] and @breads.count != i+1
          %a{:href => b[1]}= b[0]
        - else
          %span= b[0]