.big-slider
  .big-slider-view
    %a{:href=>'', :title=>''}
      %img{:src => '/assets/demo/sunset.jpg', :width => '980', :height => '307', :alt => '' }

.left_side.text_pages
  %h2.new_h2
    Как сохранить отношения надолго
  %p.p-big
    Отношения – это тема, которую мы не устаём исследовать и обсуждать. Особенно отношения между мужем и женой. Это, по сути, одна из важнейших связей, присутствующих в нашей жизни, связь, которая способна изменять нашу жизнь к лучшему или худшему.
  %h3.new_h3
    %span
      1
    Сознательно концентрируйтесь на хороших чертах друг друга
  %p.text_block
    Необходимо сознательное усилие для того, чтобы сконцентрироваться на хорошем, потому что именно это позволяет нам оценить нашего партнёра. Это как раз то, что мы делаем, когда только начинаем встречаться. Мы стараемся не замечать плохого и преувеличивать хорошее.
  %p.text_block
    К сожалению, после вступления в брак перевешивает другая чаша весов. Только при помощи сознательного усилия можно прийти к устойчивой доброте, нежности и способности ценить друг друга, когда действительно хочется исполнить завет «пока смерть не разлучит нас».
  %p.text_block
    илия можно прийти к устойчивой доброте, нежности и способности ценить друг друга, когда действительно хочется исполнить завет «пока смерть не разлучит нас».

  %h3.new_h3
    %span
      2
    Сознательно концентрируйтесь на
  %p.text_block
    Необходимо сознательное усилие для того, чтобы сконцентрироваться на хорошем, потому что именно это позволяет нам оценить нашего партнёра. Это как раз то, что мы делаем, когда только начинаем встречаться. Мы стараемся не замечать плохого и преувеличивать хорошее.
  %p.incut
    «Перемены – это закон жизни. И те, кого интересует только прошлое или настоящее, непременно упустят из виду будущее».
    %span
      Джон Ф. Кеннеди
  %p.text_block
    Это очень важно, потому что после потому что после спора двух людей один из них обычно уходит из комнаты и не возвращается, чтобы сказать: «Мне жаль, что я это сказал». Спор зарывают в землю. А на следующий день он возвращается в виде новой ссоры, обычно о чём-нибудь незначительном вроде пульта дистанционного управления или прогулки с собакой. Этот цикл становится нормой и вскоре превращается в основную составляющую брака. Необходимо вместе стремиться исправить ситуацию, обсуждая случившееся и способы избежать его повторения.
  .separator
  %ul
    %li
      %h4
        Это очень важно, потому что после спора двух людей один из них обычно
        %br
        уходит из комнаты.
    %li
      %h4
        Устойчивых браков не существует. Бывают счастливые браки,
        %br
        но не устойчивые.
    %li
      %h4
        Уступайте. Ставьте себя на место второй половины.
  %p.text_block
    Это очень важно, потому что после спора двух людей один из них обычно уходит из комнаты и не возвращается, чтобы сказать: «Мне жаль, что я это сказал». Спор зарывают в землю. А на следующий день он возвращается в виде новой ссоры, обычно о чём-нибудь незначительном вроде пульта дистанционного управления или прогулки с собакой. Этот цикл становится нормой и вскоре превращается в основную составляющую брака. Необходимо вместе стремиться исправить ситуацию, обсуждая
    %br
    случившееся и способы избежать его повторения.
  .square_table
    .name
      Заголовок таблицы
    %table
      %thead
        %tr
          %th{:colspan => '4'}
            Как победить усталость и начать вновь радоваться жизни
      %tbody
        %tr
          %td
            Point One
          %td
            Point Two
          %td
            Point Three
          %td
            Point Four
        %tr
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %td
          %td
        %tr
          %td
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %td
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %tr
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %td
          %td
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %td
  .mini_slider
    .btn-ellips.btn-ellips-left
      %span
    .btn-ellips_span
      2 / 5
    .btn-ellips.btn-ellips-right
      %span
    .mini_slider_view
      .mini_slider_inner
        .mini_slider_item
          %a{:href=>'', :title=>''}
            %img{:src => '/assets/demo/slide-big-one.jpg', :width => '707', :height => '471', :alt => '' }
            %div
              Название картинки или копирайт
        .mini_slider_item
          %a{:href=>'', :title=>''}
            %img{:src => '/assets/demo/slide-big-two.jpg', :width => '707', :height => '471', :alt => '' }
            %div
              Название картинки или копирайт
        .mini_slider_item
          %a{:href=>'', :title=>''}
            %img{:src => '/assets/demo/slide-big-three.jpg', :width => '707', :height => '471', :alt => '' }
            %div
              Название картинки или копирайт
  %p.text_block
    Это очень важно, потому что после спора двух людей один из них обычно уходит из комнаты и не возвращается, чтобы сказать: «Мне жаль, что я это сказал». Спор зарывают в землю. А на следующий день он возвращается в виде новой ссоры, обычно о чём-нибудь незначительном вроде пульта дистанционного управления или прогулки с собакой. Этот цикл становится нормой и вскоре превращается в основную составляющую брака. Необходимо вместе стремиться исправить ситуацию, обсуждая случившееся и
    %br
    способы избежать его повторения.
  %p.text_author
    Автор Статьи
  .social_block
    %span.st_vkontakte_hcount{:displaytext => "Vkontakte"}
    %span.st_facebook_hcount{:displaytext => "Facebook"}
    %span.st_twitter_hcount{:displaytext => "Tweet"}
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher: "cee48cc5-fcdc-4c1a-9e10-b445cb7c1c43", doNotHash: true, doNotCopy: false, hashAddressBar: false});

  %h3
    Дополнительные статьи
  %ul.ul-box-list-three
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4 Каббала
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
.right_side
  =render 'public_right_banner_column'