.big-slider
  .big-slider-view
    %a{:href=>'', :title=>''}
      %img{:src => '/assets/demo/forest.jpg', :width => '980', :height => '320', :alt => '' }
.left_side
  %h2
    Вводная лекция
  %p.p-big
    Десять сфирот – книга, написанная Равом Ашлагом в 1920 году. Рав Ашлаг хотел, чтобы его ученики смогли понять, а впоследствии и реализовать цель своего воплощения. В ней описывается духовный процесс, ставший причиной сотворения мира.Каббалы». Помимо знаний он даёт ключ к единству с Творцом и осознание того, кто вы есть на самом деле в чистейшем замысле мироздания.
  %h3
    Каббала 1
  .images_box
    %img{:src => '/assets/demo/online_image_1.jpg', :width => '720', :height => '300', :alt => '' }

  %h3.h2_5.margin_b_10
    Курс 10 Сфирот
  %p.margin_t_10.margin_b_10
    По-настоящему поддерживать отношения – значит, вкладывать в их поддержание. Помимо знаний он даёт ключ к единству с Творцом и осознание того, кто вы есть на самом деле в чистейшем замысле мироздания.
  %p.p-dop-text.margin_t_10
    10 уроков
  %ul.ul-box-list-three
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        %span
          5:27
          %span
            |
          5 уроков
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Сила Каббалы, среда, 22 мая 2013, 20:45
        %p
          По настоящему поддерживать отношения
        %span
          5:27
          %span
            |
          5 уроков
    %li
      %a{:href => "#", :title => ""}
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Сила Каббалы-часть 2, среда, 22 мая 2013, 20:45
        %p
          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        %span
          5:27
          %span
            |
          5 уроков
    %li.clear
      %li
        %a{:href => "#", :title => ""}
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4 Каббала
          %p
            По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          %span
            5:27
            %span
              |
            5 уроков
      %li
        %a{:href => "#", :title => ""}
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4 Каббала
          %p
            По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          %span
            5:27
            %span
              |
            5 уроков
      %li
        %a{:href => "#", :title => ""}
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4 Каббала
          %p
            По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          %span
            5:27
            %span
              |
            5 уроков
.right_side
  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/mobile_app.jpg', :alt => ''}
  %div
    %img{:src => '/assets/banner1.jpg', :alt => ''}
  .social-link
    %a.f{:href => '#', :title => ''}
    %a.t{:href => '#', :title => ''}
    %a.v{:href => '#', :title => ''}

  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/banner2.jpg', :alt => ''}