.video_container
  .left_side
    .video_box

      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400",  :width => "720", :src => "//www.youtube.com/embed/0YId3OsH4fE?list=UUYFg-IcHlYUCbB3-qz7-24w"}
    %p
      Зачем заниматься духовной работой?
  .right_side.nano
    .content_slider
      %ul
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
.left_side
  %h2
    Гостевой вечер
  %h3.h2_5
    Каббала университет
  %p
    Каббала-университет (ukabbalah.com) – это онлайн-ресурс и сообщество, дающее доступ к постоянно обновляющейся онлайн-библиотеке материалов по каббале, собиравшихся на протяжении более 30 лет. За небольшую ежемесячную плату вы можете слушать исторические лекции Рава Берга и воодушевляющие беседы с Карен Берг, углубиться в уроки Майкла Берга и посещать святые места вместе с Йегудой Бергом. Вы получите доступ к лекция всемирно известных преподавателей каббалы, которые еженедельно ведут семинары по изучению Зоара и классы по развитию сознания, дающие глубинное понимание важнейших аспектов жизни, таких как -взаимоотношения, здоровье, благополучие, воспитание детей и астрология. На сайте опубликованы видео- и аудио-материалы по сотням духовных вопросов, собранные за последние четыре десятилетия.

  %a.content_banner{:href=>'', :tittle=>''}
    %img{:src => '/assets/subscribe_to_curse_banner.jpg', :width => '720', :height => '100', :alt => '' }

  -#%h3
  -#  Дополнительные видео
  -#%ul.ul-box-list-three
  -#  %li
  -#    %a{:href => "#", :title => ""}
  -#      .img
  -#        %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#      %h4 Каббала
  -#      %p
  -#        По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#      %span
  -#        5:27
  -#        %span
  -#          |
  -#        5 уроков
  -#  %li
  -#    %a{:href => "#", :title => ""}
  -#      .img
  -#        %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#      %h4 Каббала
  -#      %p
  -#        По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#      %span
  -#        5:27
  -#        %span
  -#          |
  -#        5 уроков
  -#  %li
  -#    %a{:href => "#", :title => ""}
  -#      .img
  -#        %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#      %h4 Каббала
  -#      %p
  -#        По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#      %span
  -#        5:27
  -#        %span
  -#          |
  -#        5 уроков
  -#  %li.clear
  -#    %li
  -#      %a{:href => "#", :title => ""}
  -#        .img
  -#          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#        %h4 Каббала
  -#        %p
  -#          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#        %span
  -#          5:27
  -#          %span
  -#            |
  -#          5 уроков
  -#    %li
  -#      %a{:href => "#", :title => ""}
  -#        .img
  -#          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#        %h4 Каббала
  -#        %p
  -#          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#        %span
  -#          5:27
  -#          %span
  -#            |
  -#          5 уроков
  -#    %li
  -#      %a{:href => "#", :title => ""}
  -#        .img
  -#          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
  -#        %h4 Каббала
  -#        %p
  -#          По настоящему поддерживать отношения – значит, вкладывать в их поддержание.
  -#        %span
  -#          5:27
  -#          %span
  -#            |
  -#          5 уроков
.right_side
  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/mobile_app.jpg', :alt => ''}
  %div
    %img{:src => '/assets/banner1.jpg', :alt => ''}
  .social-link
    %a.f{:href => '#', :title => ''}
    %a.t{:href => '#', :title => ''}
    %a.v{:href => '#', :title => ''}

  %a{:href => '#', :title => 'mobile app'}
    %img{:src => '/assets/banner2.jpg', :alt => ''}