%h3
  Мой кабинет
.right-menu-list
  %a.active{:href => '/profile/information', :title => ''} Личная информация
  %a{:href => '/profile/library', :title => ''} Моя Библиотека
  %a{:href => '/profile/mail', :title => ''}
    Мои сообщения
    %span
      4
  %a{:href => '/profile/calendar', :title => ''} Мой календарь
  %a{:href => '/profile/wish', :title => ''} Список желаний
  %a{:href => '/profile/history', :title => ''} История заказов
  %a{:href => '/shopping/list', :title => ''} Моя корзина
  %a{:href => '/profile/students', :title => ''} Кабинет учителя