%a{:href => '#', :title => 'mobile app'}
  %img{:src => '/assets/banner3.jpg', :alt => ''}
%div
  %img{:src => '/assets/banner1.jpg', :alt => ''}
.social-link
  %a.f{:href => '#', :title => ''}
  %a.t{:href => '#', :title => ''}
  %a.v{:href => '#', :title => ''}

%a{:href => '#', :title => 'mobile app'}
  %img{:src => '/assets/banner2.jpg', :alt => ''}