%h3
  Мой кабинет
.right-menu-list
  %a.active{:href => '/profile/information', :title => ''} Личная информация
  %a{:href => '/profile/mail', :title => ''}
    Мои сообщения
    %span
      4
  %a{:href => '/profile/teacher_calendar', :title => ''} Мой календарь
  %a{:href => '/profile/students', :title => ''} Мои ученики