.video_container
  .left_side

    .video_box

      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400",  :width => "720", :src => "//www.youtube.com/embed/0YId3OsH4fE?list=UUYFg-IcHlYUCbB3-qz7-24w"}
    %p
      Зачем заниматься духовной работой?
  .right_side.nano
    .content_slider
      %ul
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
        %li
          %a{:href => "#", :title => ''}
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '120', :height => '70', :alt => '' }
            .clear
            %p
              10 сфирот, урок 149 "План творца и новое начало"
.left_side
  %h3.margin_b_30
    Мое видео
  %ul.ul-box-list-three
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
  %h3.margin_b_30
    Мое аудио
  %ul.ul-box-list-four
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li.clear
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
    %li
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробне
  %h3.margin_b_30
    Мой видео Wish List
  %ul.ul-box-list-three
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
.right_side
  =render 'profile_right_menu'