
.left_side
  %h3.margin_b_30
    Wish-list видео
    %a{:href => 'javascript:;', :title => ''}
      Удалить отмеченные из списка
    %a{:href => 'javascript:;', :title => ''}
      Отметить все видео
  %ul.ul-box-list-three
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
      %li.clear
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
  %h3.margin_b_30
    Wish-list аудио
    %a{:href => 'javascript:;', :title => ''}
      Удалить отмеченные из списка
    %a{:href => 'javascript:;', :title => ''}
      Отметить все аудио
  %ul.ul-box-list-four
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить
    %li.checked_el
      %div
        .img
          %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
        %h4
          .checkbox
          Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
        %p
          По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
        .link_line
          %a{:href => 'javascript:;', :title => ''}
            Подробнее
          %span
            |
          %a{:href => 'javascript:;', :title => ''}
            В корзину
        .tottal
          19 600 р.
        .lesson_count
          5 Уроков
        %div
          %a.btn{:href => 'javascript:;', :title => ''}
            Купить

      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.clear
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
      %li.checked_el
        %div
          .img
            %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
          %h4
            .checkbox
            Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
          %p
            По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
          .link_line
            %a{:href => 'javascript:;', :title => ''}
              Подробнее
            %span
              |
            %a{:href => 'javascript:;', :title => ''}
              В корзину
          .tottal
            19 600 р.
          .lesson_count
            5 Уроков
          %div
            %a.btn{:href => 'javascript:;', :title => ''}
              Купить
        %li.clear
        %li.checked_el
          %div
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
            %h4
              .checkbox
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
            %p
              По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
            .link_line
              %a{:href => 'javascript:;', :title => ''}
                Подробнее
              %span
                |
              %a{:href => 'javascript:;', :title => ''}
                В корзину
            .tottal
              19 600 р.
            .lesson_count
              5 Уроков
            %div
              %a.btn{:href => 'javascript:;', :title => ''}
                Купить
        %li.checked_el
          %div
            .img
              %img{:src => '/assets/demo/nigth.jpg', :width => '980', :height => '307', :alt => '' }
            %h4
              .checkbox
              Аудиозапись - Каббала по пятницам - (1) Суть духовной работы 4.11
            %p
              По-настоящему поддерживать отношения – значит, вкладывать в их поддержание.
            .link_line
              %a{:href => 'javascript:;', :title => ''}
                Подробнее
              %span
                |
              %a{:href => 'javascript:;', :title => ''}
                В корзину
            .tottal
              19 600 р.
            .lesson_count
              5 Уроков
            %div
              %a.btn{:href => 'javascript:;', :title => ''}
                Купить
.right_side
  =render 'profile_right_menu'
